body {
    background-color: #dddddd;
    color: #333333;
    text-align: center;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 10px;
    background-color: #add8e6;
    text-align: center;
}

.sidebar li {
    text-align: left;
}

.subsection {
    text-align: center;
}

.subsection ul {
    display: inline-block;
    text-align: left;
}

.subsection ol {
    display: inline-block;
    text-align: left;
}

a:link {
    color: #0000ff;
    text-decoration: none;
}

a:visited {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}